<!DOCTYPE html>
<html>
    <head>
        <link rel=”stylesheet” href=”styles.css” type=”text/css” />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    
        <nav class="navbar navbar-dark bg-primary" style = "text-align: center">
            <h1>Dots and boxes</h1>
        </nav>
        <div>

            <h3 style="text-align: center">
                <b>Ganador: <%=@showable_players[0].name%></b>
            </h3>

            <h4 style="text-align: center">Puntajes finales</h4>
            </br>

            <div style="width: 50%; margin: 0 auto">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th style="font-size: 18px" scope="col">Posicion</th>
                            <th style="font-size: 18px" scope="col">Jugador</th>
                            <th style="font-size: 18px" scope="col">Puntaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @showable_players.each_with_index do |player, index| %>
                            <tr id="<%="p" + (index+1).to_s%>">
                                <th style="font-size: 18px" scope="row"><%=index+1%>.</th>
                                <td style="font-size: 18px"><%=player.name%></td>
                                <td style="font-size: 18px"><%=player.score%></td>                            
                            </tr>
                        <% end %>                
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>
