<!DOCTYPE html>
<html>
    <head>
        <link rel=”stylesheet” href=”styles.css” type=”text/css” />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="col-md-12">
            <h1>Dots and Boxes</h1>
            <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#pauseModal">Pausa</button>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#helpModal">Ayuda</button>
            </div>
            <h4>Turno de: <b> <%= @players[@current_turn].name%> </b></h4>
            <% @showable_players.each_with_index do |player, index| %>
                <h4 style="display: inline; margin-left:3em">
                    <b><%=index+1%>.</b> <%=player.name%>: <%=player.score%>
                </h4>
            <% end %>
            <form method="post" action="/addLine">
                        <label>Coordenada X:</label>
                        <input  style="display: inline;" type="number" min="1" max="<%= @size%>" name="x" id="x">
                        <label style="margin-left:2em">Coordenada Y:</label>
                        <input style="display: inline;" type="number" min="1" max="<%= @size%>" name="y" id="y">
                        <label style="margin-left:2em">Direccion</label>
                        <select style="display: inline;" name="direction" id="direction">
                            <option value="horizontal">Horizontal</option>
                            <option value="vertical">Vertical</option>
                        </select>
                        <input style="display: inline; margin-left:2em;" type="submit" class="btn btn-success btn-md" value="Agregar">
            </form>
            <% if @game_over %>
                <a class="btn btn-info" href="/finalScores">Ver puntajes finales</a>
            <% end %>
        </div>

        <div id="tablero" class="col-md-12">
                <% for i in 1..@size %>
                    <h5 style="color:#006E6D; left: <%=(100*i)+10%>px; top: 30px; position: absolute"><%=i%></h5>
                <% end %>
                <% for i in 1..@size %>
                    <h5 style="color:#006E6D; left: 50px; top:<%=(100*i)-15%>px; position: absolute"><%=i%></h5>
                <% end %>

            <svg width="<%=@size * 100 + 15%>" height="<%=@size * 100 + 15%>">
                <% @lines.each do |l| %>
                    <line id="<%=l.id%>" style="opacity: <%=l.opacity%>" x1="<%=l.x1%>" x2="<%=l.x2%>" y1="<%=l.y1%>" y2="<%=l.y2%>" stroke="<%=l.color%>" stroke-width="8" />
                <% end %>
                <% @circles.each do |c| %>
                    <circle cx="<%=c.x%>" cy="<%=c.y%>" r="<%=c.r%>" stroke="<%=c.color%>" stroke-width="4" fill="<%=c.color%>" />
                <% end %>
                <% @marks.each do |m| %>
                    <circle id="<%=m.id%>"cx="<%=m.x%>" cy="<%=m.y%>" r="<%=m.r%>" style="opacity: <%=m.opacity%>" stroke="<%=m.color%>" stroke-width="4" fill="<%=m.color%>" />
                <% end %>
            </svg>
        </div>

        <div class="modal fade" id="pauseModal" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Menu de pausa</h4>
                    </div>
                    <div class="modal-footer">
                        <%# <button type="button" class="btn btn-default" >Reiniciar partida</button> %>
                        <a class="btn btn-default" href="/reset">Reiniciar partida</a>
                        <a class="btn btn-default" href="/mainMenu">Salir de la partida</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="helpModal" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ayuda</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Reglas del juego</b></p>
                        <p>El juego consiste en formar la mayor cantidad de cuadraditos
                        agregando lineas en el tablero. Cada jugador podrá agregar una linea por
                        turno. Si un jugador logra cerrar un cuadrado al agregar una linea,
                        este ganará puntos y mantendrá su turno. Gana el jugador que al llenarse
                        el tablero, tenga la mayor cantidad de cuadraditos formados a su favor.</p>
                        <p><b>Cómo jugar</b></p>
                        <p>Para agregar una linea, se debe ingresar las coordenadas en X
                        y en Y donde esta linea comenzará, y la direccion de la linea, la cual
                        debe ser horizontal o vertical. Las coordenadas ingresadas deben estar
                        dentro del rango del tamaño del tablero.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>