<!DOCTYPE html>
<html>
    <head>
        <link rel=”stylesheet” href=”styles.css” type=”text/css” />
    </head>
    <body>
        <h1>Dots and boxes</h1>
        <p id="currentPlayer" style="color: #354698">Turno de: <%=@players[0].name%></p>
        <% @players.each do |player| %>
            <p><%=player.name%></p>
            <p id="<%=player.id%>"><%=player.score%></p>
        <% end %>
        <div id="tablero">
            <svg width="1000" height="1000">
                <% @lines.each do |l| %>
                    <line id="<%=l.id%>" onclick="markLine('<%= l.id%>')" style="opacity: 0.3" x1="<%=l.x1%>" x2="<%=l.x2%>" y1="<%=l.y1%>" y2="<%=l.y2%>" stroke="#7f7f7f" stroke-width="8" />
                <% end %>
                <% @circles.each do |c| %>
                    <circle cx="<%=c.x%>" cy="<%=c.y%>" r="<%=c.r%>" stroke="#66636C" stroke-width="4" fill="#66636C" />
                <% end %>
                <% @marks.each do |m| %>
                    <circle id="<%=m.id%>"cx="<%=m.x%>" cy="<%=m.y%>" r="<%=m.r%>" style="visibility: hidden" stroke="green" stroke-width="4" fill="red" />
                <% end %>
            </svg>
        </div>
        <script src="code.js" type="text/javascript"></script>
    </body>
</html>