<!DOCTYPE html>
<html>
    <head>
        <link rel=”stylesheet” href=”styles.css” type=”text/css” />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-primary" style = "text-align: center">
                <h1>Dots and boxes
                    <span style="position: absolute; right: 20px"> 
                        <button type="button" class="btn btn-success btn-md pull-right" data-toggle="modal" data-target="#myModal">Pausa</button>
                    </span>
                </h1>
            </nav>

            <div class="card">
                <div class="card-body" style="width: 100rem; left: 100px;">
                    <div style="margin-left:7em">
                        <h4>Turno de: <b> <%= @players[@current_turn].name%> </b></h4>
                        <% @showable_players.each_with_index do |player, index| %>
                            <h4 style="display: inline;">
                                <b><%=index+1%>.</b> <%=player.name%>: <%=player.score%>
                            </h4>
                        <% end %>
                    </div>
                    <br>
                    <form class="form-inline" method="post" action="/addLine">
                        <div class="form-group">
                            <input style = "width: 15rem;  margin-left:7em" type="number" min="1" max="<%= @size%>" name="x" id="x" class="form-control" placeholder="Coordenada X">                       
                        </div>

                        <div class="form-group">
                            <input style = "width: 15rem; margin-left:4em" type="number" min="1" max="<%= @size%>" name="y" id="y" class="form-control" placeholder="Coordenada Y:">
                        </div>

                        <div class="form-group">
                            <label style="margin-left:3em; style = width: 15rem" for="sizes">Direccion</label>
                            <select class="form-control" name="direction" id="direction">
                               <option value="horizontal">Horizontal</option>
                                <option value="vertical">Vertical</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input style="display: inline; margin-left:2em;" type="submit" class="btn btn-primary btn-md" value="Agregar">
                        </div>
                    </form>
               </div>
           </div>
            <% if @game_over %>
                <a class="btn btn-info" href="/finalScores">Ver puntajes finales</a>
            <% end %>
        </div>

        <div id="tablero" class="col-md-12">
                <% for i in 1..@size %>
                    <h5 style="color:#006E6D; left: <%=(100*i)+10%>px; top: 30px; position: absolute"><%=i%></h5>
                <% end %>
                <% for i in 1..@size %>
                    <h5 style="color:#006E6D; left: 50px; top:<%=(100*i)-15%>px; position: absolute"><%=i%></h5>
                <% end %>

            <svg width="<%=@size * 100 + 15%>" height="<%=@size * 100 + 15%>">
                <% @lines.each do |l| %>
                    <line id="<%=l.id%>" style="opacity: <%=l.opacity%>" x1="<%=l.x1%>" x2="<%=l.x2%>" y1="<%=l.y1%>" y2="<%=l.y2%>" stroke="<%=l.color%>" stroke-width="8" />
                <% end %>
                <% @circles.each do |c| %>
                    <circle cx="<%=c.x%>" cy="<%=c.y%>" r="<%=c.r%>" stroke="<%=c.color%>" stroke-width="4" fill="<%=c.color%>" />
                <% end %>
                <% @marks.each do |m| %>
                    <circle id="<%=m.id%>"cx="<%=m.x%>" cy="<%=m.y%>" r="<%=m.r%>" style="opacity: <%=m.opacity%>" stroke="<%=m.color%>" stroke-width="4" fill="<%=m.color%>" />
                <% end %>
            </svg>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Menu de pausa</h4>
                    </div>
                    <div class="modal-footer">
                        <%# <button type="button" class="btn btn-default" >Reiniciar partida</button> %>
                        <a class="btn btn-default" href="/reset">Reiniciar partida</a>
                        <a class="btn btn-default" href="/mainMenu">Salir de la partida</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>