<!DOCTYPE html>
<html>
    <head>
        <link rel=”stylesheet” href=”styles.css” type=”text/css” />
    </head>
    <body>
        <h1>Dots and Boxes</h1>
        <p>Turno de: <%= @players[@current_turn].name%></p>
        <% @showable_players.each_with_index do |player, index| %>
            <p>
                <%=index+1%>. <%=player.name%>: <%=player.score%>
            </p>
        <% end %>
        <form method="post" action="/game">
            <label>Coordenada X:</label>
            <input type="number" min="1" max="<%= @size%>" name="x" id="x">
            <label>Coordenada Y:</label>
            <input type="number" min="1" max="<%= @size%>" name="y" id="y">
            <select name="direction" id="direction">
                <option value="horizontal">Horizontal</option>
                <option value="vertical">Vertical</option>
            </select>
            <input type="submit" value="Agregar">
        </form>
        <div id="tablero">
            <svg width="<%=@size * 100 + 15%>" height="<%=@size * 100 + 15%>">
                <% @lines.each do |l| %>
                    <line id="<%=l.id%>" style="opacity: <%=l.opacity%>" x1="<%=l.x1%>" x2="<%=l.x2%>" y1="<%=l.y1%>" y2="<%=l.y2%>" stroke="<%=l.color%>" stroke-width="8" />
                <% end %>
                <% @circles.each do |c| %>
                    <circle cx="<%=c.x%>" cy="<%=c.y%>" r="<%=c.r%>" stroke="<%=c.color%>" stroke-width="4" fill="<%=c.color%>" />
                <% end %>
                <% @marks.each do |m| %>
                    <circle id="<%=m.id%>"cx="<%=m.x%>" cy="<%=m.y%>" r="<%=m.r%>" style="opacity: <%=m.opacity%>" stroke="<%=m.color%>" stroke-width="4" fill="<%=m.color%>" />
                <% end %>
            </svg>
        </div>
    </body>
</html>